@model MangaWorld_Client.Models.Manga
@using MangaWorld_Client.Controllers;
@using MangaWorld_Client.Models;
@using PagedList.Mvc
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    string path = Utils.Gallery + Model.MangaPath + Utils.CoverArt;
    List<Genre> genres = (List<Genre>)ViewData["Genres"];
    var chapters = (PagedList.IPagedList<Chapter>)ViewData["Chapter"];
    bool sort = (bool)ViewData["ChapSortAsc"];
    var ratingDetail = ((List<byte>)ViewData["Rating"]).GroupBy(x => x).ToDictionary(y => y.Key, y => y.Count()).OrderBy(x => x.Key);
    float score = Utils.getRatingScore((List<byte>)ViewData["Rating"]);
}
<link href="~/resources/css/manga_style.css" rel="stylesheet" />

<div class="container">
    <div class="row manga-head">
        <div class="col-md-3 manga-cover-area">
            <img class="manga-cover-img" src="@path" alt="Cover" />
        </div>
        <div class="col-md-9">
            <div class="manga-titles-area">
                <p class="manga-title">
                    <img class="manga-lang-flag flag-@Model.LanguageId" />
                    @Model.Title
                </p>
                <br />
                @foreach (string t in Model.AltTitle.Split('*'))
                {
                    <p class="manga-alt-title">
                        <i>- @t</i>
                    </p>
                }
            </div>
            <br /><br />
            <div class="manga-stats-area stat-rating">
                <div class="rating-detail-tooltip">
                    <ul>
                        @foreach (var x in ratingDetail)
                        {
                            <li>
                                <b>@x.Key <i class="manga-stat-item fa fa-star"></i>: @x.Value</b>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
                <i class="manga-stat-item fa fa-star">
                    <span>@score.ToString("0.00")</span>
                </i>
                <i class="manga-stat-item fa fa-bookmark">
                    <span>@Utils.getBookmarkCount(Model)</span>
                </i>
                <i class="manga-stat-item fa fa-comments">
                    <span>@Model.Comment.Count</span>
                </i>
                &nbsp;
                <i class="manga-pub-status status-@Model.Status fa fa-circle"></i>
                <b>PUBLICATION: @Model.ReleasedYear, </b>
                <i>@Model.Status1.StatusName</i>
            </div>
            <br /><br />
            <div class="manga-genre-area">
                @foreach (Genre g in genres)
                {
                    <div>
                        @Html.ActionLink(g.GenreId, "Index", "Genres", new { genreId = g.GenreId }, new { @class = "manga-genre " + "genre-level-" + g.GenreLevel })
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row manga-opt">
        <button class="manga-opt-item" onclick="location.href='@Url.Action("Index", "Chapters", new { mangaId = Model.MangaId, chapOrd = ViewData["FirstChap"] })'">Start Reading</button>

        <button class="manga-opt-item">Bookmark</button>

        <button class="manga-opt-item" id="manga-rate-btn">
            <i class="fa fa-star"></i>
        </button>

        <button class="manga-opt-item">
            <i class="fa fa-exclamation-triangle"></i>
            Report
        </button>
    </div>
    <div class="row manga-body">
        <div class="row manga-summary-area">
            <p>
                <b>
                    @Model.Summary
                </b>
            </p>
        </div>
        <div class="row manga-content-area">
            <div class="col-md-3 manga-detail-area">
                <h5 class="manga-detail-header">Author</h5>
                @Html.ActionLink(Model.Author.AuthorName, "Index", "Authors", new { authorId = Model.AuthorId }, new { @class = "manga-detail-item" })
                <br /><br />
                <h5 class="manga-detail-header">Language</h5>
                @Html.ActionLink(Model.Language.LanguageName, "Index", "Home", new { langId = Model.LanguageId }, new { @class = "manga-detail-item" })
                <br /><br />
                <h5 class="manga-detail-header">Last update(m/d/y)</h5>
                <span class="manga-detail-item">
                    @Utils.getChaptersDescend(Model)[0].UploadDate.ToString("d")
                </span>
            </div>
            <div class="col-md-9 manga-chapter-area">
                @if (sort)
                {
                    <button id="chapter-sort" onclick="location.href='@Url.Action("Index", "Mangas", new { mangaId = Model.MangaId, sortAsc = false })'">
                        <span>
                            Sort by descending
                        </span>
                    </button>
                }
                else
                {
                    <button id="chapter-sort" onclick="location.href='@Url.Action("Index", "Mangas", new { mangaId = Model.MangaId, sortAsc = true })'">
                        <span>
                            Sort by ascending
                        </span>
                    </button>
                }

                <div class="manga-chapter">
                    @foreach (Chapter c in chapters)
                    {
                        <button class="manga-chapter-item" onclick="location.href='@Url.Action("Index", "Chapters", new { mangaId = c.MangaId, chapOrd = c.ChapterOrder })'">
                            <div class="manga-chapter-item-left">
                                <b>Chapter @c.ChapterOrder</b>
                                <br />
                                @if (String.IsNullOrEmpty(c.ChapterTitle))
                                {
                                    <span>Chapter @c.ChapterOrder</span>
                                }
                                else
                                {
                                    <span>@c.ChapterTitle</span>
                                }
                            </div>
                            <div class="manga-chapter-item-right">
                                <i class="fa fa-clock-o">
                                </i>
                                @c.UploadDate.ToString("d")
                                <br />
                                <i class="fa fa-users">
                                </i>
                                @Html.ActionLink(c.ScanTeam.TeamName, "Index", "ScanTeam", new { scanteamId = c.ScanTeamId }, null)
                            </div>
                        </button>
                    }
                </div>

                <div class="pagination">
                    @Html.PagedListPager(chapters, Page => Url.Action("Index", "Mangas", new { Page, mangaId = Model.MangaId, sortAsc = sort }))
                </div>
            </div>
        </div>
    </div>
</div>

