@using System.Web;

<!DOCTYPE html>
<html>
<head>
    @*<script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaWorld</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/resources/css/layout_style.css" rel="stylesheet" />
    <script src="~/resources/javascript/layout_script.js"></script>
</head>
<body>
    <div>
        <div class="nav-side-bar">
            <nav class="container">
                <b class="side-nav-titles">NAVIGATION</b>
                <ul>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "side-nav-content" })
                        <i class="glyphicon glyphicon-home"></i>
                    </li>
                    <li>
                        @Html.ActionLink("Popular", "Popular", "Home", null, new { @class = "side-nav-content" })
                    </li>
                    <li>
                        @Html.ActionLink("Groups", "Index", "ScanTeams", null, new { @class = "side-nav-content" })
                    </li>
                    <li>
                        @Html.ActionLink("Search", "Search", "Home", null, new { @class = "side-nav-content" })
                    </li>
                    <li>
                        @Html.ActionLink("Random", "Index", "Mangas", new { mangaId = "random" }, new { @class = "side-nav-content" })
                    </li>
                </ul>
                <br />

                <b class="side-nav-titles">OPTIONS</b>
                <br />
                <ul>
                    <li>
                        <div class="side-nav-opt" id="dark-mode-toggler">
                            <i class="fa fa-adjust"></i>
                            <span>Dark/light theme</span>
                        </div>
                    </li>
                    @*<li>
                        <div class="side-nav-opt" id="reading-mode">
                            <i class="fa fa-book"></i>
                            <span name="readingMode">Long strip</span>
                        </div>
                    </li>*@
                    <li>
                        <div class="side-nav-opt" id="page-num">
                            <i class="fa fa-list"></i>
                            <span name="pageNum">Page numbers</span>
                        </div>
                    </li>
                    <li>
                        <div class="side-nav-opt" id="page-size">
                            <i class="fa fa-expand"></i>
                            <span name="pageSize">Ajusted/Original page</span>
                        </div>
                    </li>
                </ul>

                <br />
                <b class="side-nav-titles">CONTACTS</b>
                <ul>
                    <li>
                        <i class="fa fa-google"></i>
                        <b>mangaworld@gmail.com</b>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i>
                        <b>twitter.com/mangaworld</b>
                    </li>
                    <li>
                        <i class="fa fa-facebook"></i>
                        <b>www.facebook.com/mangaworld72</b>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container-fluid main-content">
            <div class="container-fluid layout-head">
                <header class="container">
                    <nav class="row top-nav">
                        <div class="col-md-4">
                            <i id="nav-side-toggler" class="fa fa-bars"></i>
                            @Html.ActionLink("MangaWorld", "Index", "Home", null, new { @class = "home-logo", @style = "margin-top: 20px;" })
                        </div>
                        <div class="col-md-5 nav-search">
                            <form action="@Url.Action("Search", "Home")" method="post">
                                <i class="fa fa-search"></i>
                                <input name="nameSrc" class="search-txt" type="text" placeholder="Search" />
                                <input type="submit" hidden />
                            </form>
                        </div>
                        <div class="col-md-3 layout-user-area">
                            <i class="fa fa-user-circle user-menu" onclick="location.href='@Url.Action("Details", "Users")'"></i>
                            <h4 class="layout-user-acc">@Session["UserName"]</h4>
                        </div>
                    </nav>
                </header>
            </div>
            <main class="container">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
<script>
    var True = true;
    var False = false;
    if (!@Session["DarkMode"] && !$('body').hasClass('change-theme')) {
        $('body').addClass('change-theme');
    }
    if (@Session["PageAdjust"] && !$('.chapter-img').hasClass('chapter-img-adjust')) {
        $('.chapter-img').addClass('chapter-img-adjust');
    }
    if (@Session["PageNum"] && !$('.page-num-display').hasClass('page-num-enable')) {
        $('.page-num-display').addClass('page-num-enable');
    }
</script>