@model PagedList.IPagedList<MangaWorld_Client.Models.ScanTeam>
@using MangaWorld_Client.Controllers;
@using MangaWorld_Client.Models;
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    List<Language> lang = (List<Language>)ViewData["Language"];
}
<link href="~/resources/css/scanteam_style.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#teamName').val('@ViewData["CurrTeamName"]');
        $('#langSrc').val('@ViewData["CurrLang"]');

        $('#langSrc').change(function () {
            window.location = '@Url.Action("Index", "ScanTeams")' + "?langSrc=" + this.value + "&teamName=" + $('#teamName').val();
        });
    });
</script>

<div class="container scanteam-body">
    <h1>Scantilations teams</h1>
    <div class="scanteam-list-head">
        <form method="post" action="@Url.Action("Index", "ScanTeams")">
            <b>Search by name</b>
            <input type="text" name="teamName" id="teamName" class="search-control" />

            <br />
            <b>Language</b>
            <select class="search-control" name="langSrc" id="langSrc">
                <option value="any">Any</option>
                @foreach (Language l in lang)
                {
                    <option value="@l.LanguageId">@l.LanguageName</option>
                }
            </select>

            <input type="submit" hidden />
        </form>
    </div>
    
    <div class="row scanteam-list-area">
        @foreach (ScanTeam s in Model)
        {
            <div class="col-md-5 scanteam-list-item" onclick="location.href='@Url.Action("Detail", "ScanTeams", new { scanId = s.ScanTeamId })'">
                <div class="col-md-1 scanteam-list-item-cover">
                    <i class="fa fa-users"></i>
                </div>
                <div class="col-md-10 scanteam-list-item-content">
                    <b>@s.TeamName</b>
                    <br />
                    <b>Language: @s.Language.LanguageName</b>
                    <img class="scanteam-lang-flag flag-@s.LanguageId" />
                    <br />
                    <b>Uploads: @s.Chapter.Count</b>
                </div>
            </div>
        }
    </div>

    <div class="pagination">
        @Html.PagedListPager(Model, Page => Url.Action("Index", "ScanTeams", new { Page, langSrc = ViewData["CurrLang"], teamName = ViewData["CurrTeamName"] }))
    </div>
</div>